body {
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    font-family: Arial, Helvetica, sans-serif;
  }
  p {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 2rem;
    background-color: yellow;
  }
}
